.wrapper{
    text-align: center;
    background-image: url('../../assets/img/BG.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
} 
.main-container{
    padding: 20px;
}
.container-fluid{
    margin:5px
}
.container{
    margin-top: 25px;
    margin-bottom: 15px;
}
.bg-colour, .accordion-button.collapsed{
    background-color: #002366;
    /* background: -webkit-linear-gradient(left, #002366, #00c6ff); */
    color: #fff;
}
.btn{
    font-weight: 700;
    font-size: 20px;
    padding: 3px;
}
.btn-light{
    text-align: center;
    color: #002366;
}
.card{
    margin: 10px;
}
.carousel-caption, .text-colour{
    color: #fff;
}
.text-area, .tc-area{
    text-align: left;
}
.text{
    text-align: center;
}
.price-table{
    text-align: center;
    float: right;
}
  
.accordion-button.collapsed::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.table{
    margin: 20px; 
    border-style: solid;
    border: 1px solid #002366;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-collapse: collapse;
    border-left: 0;
    text-align: center;
    width: auto;
    background-color: #fff;
    float: right;
}
.carousel-item{
    margin: 5px;
    /* padding:15%; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat; 
}
.container-fluid{
    padding: 30px;
    margin: 10px;
    color: #fff;
}
.social-icon{
    padding: 15px;
    color: #fff;
}