<div class="wrapper">
  <div class="main-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active first">
        <!-- 1200 x 350 -->
        <img src="../../assets/img/Banner-2.jpeg" class="d-block w-100" alt="">
        <button class="btn btn-primary carousel-caption" routerLink="/loan">Apply Now !</button>
        <!-- <a href="/loan" class="btn btn-primary carousel-caption">Apply Now!</a> -->
      </div>
      <div class="carousel-item second">
        <img src="../../assets/img/Loan-process.jpeg" class="d-block w-100" alt="">
        <button class="btn btn-primary carousel-caption" onclick="window.location.href='#details-section'"> Learn More &#8594;</button>
      </div>
      <div class="carousel-item third">
        <img src="../../assets/img/1218-2.jpeg" class="d-block w-100" alt="">
        <div class="carousel-caption price-table" >
          <table class="col text table table-sm table-hover table-bordered">
            <thead>
              <tr class="bg-colour">
                <th scope="col" *ngFor="let i of heads">{{i}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of elements">
                <th scope="row">{{n.gram}} gram</th>
                <td>{{n.today}}</td>
                <td>{{n.yesterday}}</td>  
                <td>{{n.change}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <h4 class="container text-colour">Get Instant Gold Loan</h4>
    <div class="bg-colour card">
      <div class="card-body">
        <div class="text-area">
          Avail cash to finance your requirements quickly and easily.<br><br>
          Visit the nearest branch with your asset and get an instant cash disbursal.<br><br>
          Our simple verification process includes Know Your Customer(KYC) and bank details. Upon successful verification Request ID(RID) is provided to submit your asset.<br><br>
          You can avail a Gold Loan whenever you require funds for the education of your children, business expansion, working capital requirement, down payment for the purchase of property or automobile, medical emergency, holiday with family, agricultural needs, etc.
          </div>
        </div>
      </div>

    <h3 class="container text-colour" id="features">Features</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-colour">
          <i class="fas fa-3x fa-file-upload"></i>
        </div>
        <div class="card-body">
          <h4 class="card-title">Simple Documentation</h4>
          <p class="card-text text">Our Documentation includes basic details is quick, simple and secured. </p>
        </div>
      </div>
    </div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-header bg-colour">
      <i class="fas fa-3x fa-shield-alt"></i>
    </div>
    <div class="card-body">
      <h4 class="card-title">Secure evaluation </h4>
      <p class="card-text text">Get your asset evaluated with current gold carat meter ensuring accuracy and safety.</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-header bg-colour">
      <i class="fas fa-3x fa-rupee-sign"></i>
    </div>
    <div class="card-body">
      <h4 class="card-title">Quick disbursal</h4>
      <p class="card-text text">Get an instant cash disbursal for your asset at current market price and low interest rate.</p>
    </div>
  </div>
</div>
</div>
<h3 class="container text-colour">Details Required</h3>
<div class="row" id="details-section">
<div class="col-sm-4">
<div class="card">
  <div class="card-header bg-colour">
  <i class=" fas fa-3x fa-id-card"></i>
  <h4>Required Documents</h4>
</div>
  <!-- <div class="card-body"> -->
    <ul class="list-group text">
      <li class="list-group-item">Aadhar Card</li>
      <li class="list-group-item">Pan Card</li>
      <li class="list-group-item">Drivers Licence</li>
      <li class="list-group-item">Passport</li>
    </ul>
  <!-- </div> -->
</div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-header bg-colour">
    <i class=" fas fa-3x fa-wallet"></i>
    <h4>Required Bank Details</h4>
  </div>
  <!-- <div class="card-body"> -->
    <ul class="list-group text">
        <li class="list-group-item">Account Number</li>
        <li class="list-group-item">IFSC code</li>
        <li class="list-group-item">Type Of Account</li>
        <li class="list-group-item">Bank Name</li>
    </ul>
  </div>
</div>
<div class="col-sm-4">
  <div class="card">
    <div class="card-header bg-colour">
    <i class=" fas fa-3x fa-coins"></i>
    <h4>Required Asset Details</h4>
  </div>
    <!-- <div class="card-body"> -->
      <ul class="list-group text">
        <li class="list-group-item">Gold Type</li>
        <li class="list-group-item">Weight</li>
        <li class="list-group-item">Jeweler's Details</li>
        <li class="list-group-item">Photo of Asset</li>
      </ul>
  </div>
</div>
</div>
<div class="bg-colour card" id="TandC">
  <div class="card-body">
    <h4>Terms and Conditions<br></h4>
    <div class="tc-area">
      <ul>
      <li>The Loan shall be utilized by the Borrower solely for the purpose stated in the Application Form 
      and not for any speculative, improper or illegal or unlawful purpose/activities or further purchase of 
      gold in any form.</li>
      <li> The Loan Amount has been arrived at on the basis of the valuation of the gold deposited with the 
      Lender as security for the Loan. </li>
      <li> The Borrower shall not be entitled to cancel the Loan or refuse to accept the disbursement of the 
      Loan Amount post the Loan has been sanctioned by the Lender.</li>
      <li>The Gold shall be kept in a safe deposit vault with the Lender. Upon repayment of the entire 
        Outstanding Dues, the Borrower shall produce the Gold Deposit Receipt for return of the Gold by 
        the Lender.</li>
        <li>The Borrower shall pay interest on the Loan at the applicable interest rate. The interest rate may be 
          revised upward or downward by the Lender at its sole discretion and/or due to change in the 
          regulatory requirements and money market conditions.</li>
          <li>All interest under the Loan shall accrue from day to day and shall be calculated on a reducing balance 
          by taking a base of 360 (three hundred and sixty) days per year</li>
    </ul>
    </div>
    </div>
  </div>
<h3 class="container text-colour">Frequently Asked Question (FAQS)</h3>
<div class="accordion accordion-flush m-5 border" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed bg-colour" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        What is RID?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">RID is a unique id generated after applying the loan. Customer need to submit the asset in the nearest branch against the RID.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed bg-colour" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        How the asset value is calculated?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Asset value is calculated against the current carat market value.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed bg-colour" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        When does the gold loan gets rejected?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Loan gets rejected if any one or more details entered are found out incorrect in verification process.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed bg-colour" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        What happens if the bank offer to the asset is rejected?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">If the Customer rejects the bank offer, customer needs to collect the asset after paying the required service fee(around 500Rs)</div>
    </div>
  </div>
</div>

<footer class="footer-section">
  <div class="container-fluid">
    <h4>Connect with us</h4>
  <a href="https://www.linkedin.com/">
    <i class="social-icon fab fa-linkedin fa-2x"></i>
  </a>
  <a href="https://mail.google.com">
    <i class="social-icon fas fa-envelope fa-2x"></i>
  </a>
  <a href="https://www.facebook.com/">
    <i class="social-icon fab fa-facebook-f fa-2x"></i>
  </a>
  <a href="https://www.twitter.com/">
    <i class="social-icon fab fa-twitter fa-2x"></i>
  </a>
  <p class="footer-line">Copyright © 2021. All rights reserved </p>
</div>
</footer>
</div>
</div>